.col-container {
    display: table; /* Сделайте элемент контейнера похожим на таблицу */
    width: 85%; /* Установите полную ширину, чтобы развернуть всю страницу */
}

.col11 {
    display: table-cell; /* Чтобы элементы внутри контейнера вели себя как ячейки таблицы */
}
.row-cont{
    background-color: #5D4037;
}
.row-container{
    background-color: transparent;
}
.row-cont2{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    vertical-align: middle;
    align-content: center;
}
.col_cont{
    position: relative;
    width: 35%;
}
.col_c{
    padding-left: 0;
    padding-right: 0;
}