.admin-header{
    font-family: 'PT Astra Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    /* identical to box height */

    text-transform: uppercase;
}
.active1 {
    font-weight: bold;
}
.header-base{
    font-family: 'Rozovii Chulok';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    /* identical to box height */

    color: #E8E0DA;
}
.header-base0{
    font-family: 'Rozovii Chulok';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    /* identical to box height */

    color: #5D4037;
}
.text-base{
    font-family: 'Rozovii Chulok';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 57px;
    /* identical to box height */

    color: #5D4037;
}
.text-base0{
    font-family: 'Rozovii Chulok';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* identical to box height */

    color: #E8E0DA;
}
.text-base2{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #5D4037;
}
.text-base2_0{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* identical to box height */

    color: #E8E0DA;
}
.reg-head{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #5D4037;
}
.reg-head08{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: rgba(93, 64, 55, 0.8);
}
.reg-head2{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #5D4037;
}
.heading3{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #5D4037;
}
.heading2{

    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;

    /* шоколадный */

    color: #EDE6E1;
}
.heading5{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* шоколадный */

    color: #5D4037;
}
.heading5_2{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* шоколадный */

    color: rgba(93, 64, 55, 0.8);
}
.heading6{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-decoration-line: underline;

    /* шоколадный */

    color: #5D4037;
}
.price_font{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    /* identical to box height */


    color: #5D4037;
}
.article_font{
    font-family: 'PT Astra Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: rgba(93, 64, 55, 0.5);
}
.font-indent{
    text-indent: 10%;
}